__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc
.DS_Store
.kaggle/
.kaggle_kernels/
kaggle.json

competitions/README.md
competitions/*/data/raw/*
competitions/*/data/processed/*
competitions/*/models/*
!competitions/*/models/*.py
competitions/*/submissions/*
!competitions/*/data/raw/.gitkeep
!competitions/*/data/processed/.gitkeep
!competitions/*/submissions/.gitkeep
